<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="YAML エディター"
            extensions="yaml"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.piece_framework.piece_ide.yamleditor.editors.YAMLEditor"
            id="com.piece_framework.piece_ide.yamleditor.editors.YAMLEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.piece_framework.piece_ide.yamleditor.editors.YAMLSchemaSelectView"
            id="com.piece_framework.piece_ide.yamlSchemaSelectView"
            name="YAMLスキーマ選択"/>
   </extension>

</plugin>
