<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.piece_framework.piece_ide.yamleditor.editors.YAMLEditorPart"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="yaml"
            icon="icons/sample.gif"
            id="com.piece_framework.piece_ide.yamleditor.editors.YAMLEditorPart"
            name="YAML Editor"/>
   </extension>

</plugin>
